<head>
  	<title>quantum-crater</title>
  	<script src="https://newt.nersc.gov/js/newt.js"></script>



 	<script type="text/javascript" src="http://parts.chemspider.com/Scripts/jquery-ui-1.9.0.custom.min.js"></script>

 <script src="http://parts.chemspider.com/Scripts/Widgets/CS/3rd/jshashtable-2.1.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/3rd/jshashset.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/3rd/jquery.flexigrid.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.utils.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.blockui.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.progress.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.store.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.compoundinfo.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.convert2structure.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.data.compound.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.google.booksearch.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.google.imagesearch.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.google.patentsearch.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.google.websearch.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.ketcher.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.jchempaint.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.jsdraw.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.lightbox.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.structureeditor.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.structureoptions.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.infobox.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.synonyms.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/Search/jquery.tileresults.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/Search/jquery.gridresults.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/Search/jquery.simplesearch.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.molecule2d.js"></script>
<script src="http://parts.chemspider.com/Scripts/Widgets/CS/jquery.jsmol.js"></script>


</head>

<body>
  {{> navbar}}
  {{> hero}}
  {{> explanation}}
  {{> plot}}
  {{> footer}}
</body>

<!-- GREETING -->
<template name="hello">
  <h1>Hi there!</h1>
  {{greeting}}
  <input type="button" value="Click" />
</template>

<!-- EXPLANATION -->
<template name="explanation">
	<div class="container">
	  <!-- Explanation -->
	  <div id="test-results" class="column">
	    Results will appear below:
	    </br>
	    </br>
	    <pre>
		    <div id="file" class="span12">
		      {{nersc_response}}
		  	  </br>
		      ******************
		      {{mongo_vars}}
		    </div>
	    </pre>
	    <div id="image" class="span12">
	    </div>

	  </div>
  	</div>
</template>

<!-- NAVBAR -->
<template name="navbar">
	<div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse" id="login-holder">
          <div class="navbar-inner">
            <!-- Brand name -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@routes.Application.index()"><FONT COLOR="#FFA319">Q</FONT>uantum<FONT COLOR="#FFA319">C</FONT>rater</a>

            <!-- Main navbar items -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="{{active}}"><a href="@routes.Application.index()">Home</a></li>
                <li class="{{active}}"><a href="@routes.Application.index()">About</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          
          </div><!-- navbar-inner -->
        </div><!-- navbar navbar-inverse -->
      </div><!-- container -->
    </div><!-- navbar-wrapper -->
</template>

<!-- BOOTSTRAP HERO -->
<template name="hero">
  <div class="container">	
 	<div class="hero-unit">
        <h1>Quantum Crater!</h1>
        <p>Material science in realtime <br/>Powerful and fast</p>
          <button class="btn-primary btn-large" id="tryit">Try it!</button>
    </div>
  </div>
</template>

<!-- D3.JS PLOT-related stuff -->
<template name="plot">
  <div class="container">	
    <div class="timeline-wrapper">
    Plot 

    <div id="plot">{{s_data}}</div>


  </div>
  </div>
</template>

<!-- FOOTER -->
<template name="footer">
    <!-- FOOTER -->
    <div id="footer">
      <div class="container">
      	  </br>
          <p class="muted credit">
            &copy; 2013 Built by <a href="https://github.com/jimustafa">Jamal</a>, <a href="http://bazhirov.com">Timur</a> and <a href="https://github.com/bek">Ulugbek</a> &middot; Based on <a href="http://www.quantum-espresso.org/"><b>Quantum</b>Espresso</a>, <a href="http://www.meteor.com/"><b>meteor</b></a> and <a href="http://www.newt.nersc.gov/"><b>NEWT</b></a>&middot;
          <!-- NERSC support acknowledgement -->
            Supported by <a href="http://www.nersc.gov/"><b>NERSC</b></a>
          </p>
      </div>
    </div>
 </template>
