/* CSS declarations go here */
body {
  padding-top: 20px;
  color: #5a5a5a;
}

text {
  font: bold 48px monospace;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.hero-unit {
        background-image: url(/background1.jpg); 
		padding: 60px;
  		margin-bottom: 30px;
  		background-repeat: no-repeat;
  		-webkit-border-radius: 6px;
  		-moz-border-radius: 6px;
  		border-radius: 6px;    
  		background-position:center;    
}